<div class="lhs-container">
    <div class="logo-conatiner cursor-pointer">
        <img src="assets/icons/sunstone logo cdr 17 version.png" alt="logo" class="img-fluid">
      </div>
      
      <div class="LHS-links mt-md-3">
        <div class="link-item d-flex align-items-center">
          <div class="icon-container mr-2">
            <img src="assets/icons/Dashboard.png" style="width: 1.2rem;" alt="Dashboard">
          </div>
          <div class="title">Dashboard</div>
        </div>
        <div class="link-item d-flex align-items-center">
          <div class="icon-container mr-2">
            <img src="assets/icons/Profile.png" style="width: 1.2rem;" alt="Profile">
          </div>
          <div class="title">Profile</div>
        </div>
        <div class="link-item d-flex align-items-center">
          <div class="icon-container mr-2">
            <img src="assets/icons/Shape 4.png" style="width: 1.2rem;" alt="Shape">
          </div>
          <div class="opp-container d-flex justify-content-between w-100 align-items-center">
            <div class="title">Opportunities</div>
            <div class="opp-count badge pill-sun center">22</div>
          </div>
        </div>
      </div>
</div>
