<div class="box-pills-containers">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-3 p-2 bg-white box-pills-container mx-1 mx-sm-0">
                <div class="title">New Opportunities</div>
                <hr class="my-1">
                <div class="text-center num-count text-success">24</div>
            </div>
            <div class="col-3 p-2 bg-white box-pills-container mx-1 mx-sm-0">
                <div class="title">New Opportunities</div>
                <hr class="my-1">
                <div class="text-center num-count text-danger">24</div>
            </div>
            <div class="col-3 p-2 bg-white box-pills-container mx-1 mx-sm-0">
                <div class="title">New Opportunities</div>
                <hr class="my-1">
                <div class="text-center num-count text-primary">24</div>
            </div>
        </div>
    </div>
</div>