div {
  font-size: 0.6rem;
}

i {
  font-size: 0.4rem;
}

.job-cards {
  width: 100%;
}

.bg-mute {
  background-color: #ddd;
}

.heading-container {
  font-family: "Nunito Sans", sans-serif;
  font-weight: bold;
  font-size: 1rem;
}

.color-pill{
  border-radius: 8px;
  background-color: #F7E9FF;
  padding-left: 10px;
  padding-right: 10px;
}